*.obj
*.mat
*.png
*.pdf
*.jpg
*.stl

# 貌似是matlab的缓存文件；
*.asv



#指定不忽略的文件
!/triangle.exe
!*.m
!/gptoolbox-master/*
!/几何处理/data/*
!/tooth_root_test/data/*
!/布尔运算/myData/*
!/虚拟牙槽骨/inputData/*
!/MATLAB基础/data/*


 
