#忽略根目录下的所有文件
*


blabla/




#包含目录
!*/

#指定不忽略的文件
!*.m
!*.gitignore
!/myTest/dental_crown.mat
!/myTest/dentalmodelwithroot0.1forlow.mat
!/myTest/daxisofdental_crowm
!/myTest/trfromtoothtocrown.mat
!/myTest/带牙根标准牙.obj
!/myTest/FDILower__.dxt
!/myTest/FDIUpper__.dxt
!/myTest/locationLower__.dxt
!/myTest/locationUpper__.dxt
!/myTest/testdata(4)/*
!/myTest/测试数据/*
!/tooth_root_test/*.m
!/tooth_root_test/*.mat
!/几何处理/*.m
!/几何处理/*.mat


#忽略子目录下的所有文件
#/*

#忽略根目录下的文件
#/build/
#/appveyor/
#/pear/
#/scripts/
#/travis/

#忽略特定文件夹名
#tests/
